/* SVG Animations */

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 2570.784423828125px;
    stroke-dasharray: 2570.784423828125px
  }

  100% {
    stroke-dashoffset: 5141.56884765625px;
    stroke-dasharray: 2570.784423828125px
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 2570.784423828125px;
    stroke-dasharray: 2570.784423828125px
  }

  100% {
    stroke-dashoffset: 5141.56884765625px;
    stroke-dasharray: 2570.784423828125px
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s both;
  animation: animate-svg-stroke-1 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s both
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 2512.5419921875px;
    stroke-dasharray: 2512.5419921875px
  }

  100% {
    stroke-dashoffset: 5025.083984375px;
    stroke-dasharray: 2512.5419921875px
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 2512.5419921875px;
    stroke-dasharray: 2512.5419921875px
  }

  100% {
    stroke-dashoffset: 5025.083984375px;
    stroke-dasharray: 2512.5419921875px
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s both;
  animation: animate-svg-stroke-2 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.2s both
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 2451.813232421875px;
    stroke-dasharray: 2451.813232421875px
  }

  100% {
    stroke-dashoffset: 4903.62646484375px;
    stroke-dasharray: 2451.813232421875px
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 2451.813232421875px;
    stroke-dasharray: 2451.813232421875px
  }

  100% {
    stroke-dashoffset: 4903.62646484375px;
    stroke-dasharray: 2451.813232421875px
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.4s both;
  animation: animate-svg-stroke-3 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.4s both
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 2388.640869140625px;
    stroke-dasharray: 2388.640869140625px
  }

  100% {
    stroke-dashoffset: 4777.28173828125px;
    stroke-dasharray: 2388.640869140625px
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 2388.640869140625px;
    stroke-dasharray: 2388.640869140625px
  }

  100% {
    stroke-dashoffset: 4777.28173828125px;
    stroke-dasharray: 2388.640869140625px
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6000000000000001s both;
  animation: animate-svg-stroke-4 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.6000000000000001s both
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 2320.819580078125px;
    stroke-dasharray: 2320.819580078125px
  }

  100% {
    stroke-dashoffset: 4641.63916015625px;
    stroke-dasharray: 2320.819580078125px
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 2320.819580078125px;
    stroke-dasharray: 2320.819580078125px
  }

  100% {
    stroke-dashoffset: 4641.63916015625px;
    stroke-dasharray: 2320.819580078125px
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.8s both;
  animation: animate-svg-stroke-5 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.8s both
}

@-webkit-keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 2249.155517578125px;
    stroke-dasharray: 2249.155517578125px
  }

  100% {
    stroke-dashoffset: 4498.31103515625px;
    stroke-dasharray: 2249.155517578125px
  }
}

@keyframes animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 2249.155517578125px;
    stroke-dasharray: 2249.155517578125px
  }

  100% {
    stroke-dashoffset: 4498.31103515625px;
    stroke-dasharray: 2249.155517578125px
  }
}

.svg-elem-6 {
  -webkit-animation: animate-svg-stroke-6 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s both;
  animation: animate-svg-stroke-6 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s both
}

@-webkit-keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 2170.53271484375px;
    stroke-dasharray: 2170.53271484375px
  }

  100% {
    stroke-dashoffset: 4341.0654296875px;
    stroke-dasharray: 2170.53271484375px
  }
}

@keyframes animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 2170.53271484375px;
    stroke-dasharray: 2170.53271484375px
  }

  100% {
    stroke-dashoffset: 4341.0654296875px;
    stroke-dasharray: 2170.53271484375px
  }
}

.svg-elem-7 {
  -webkit-animation: animate-svg-stroke-7 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.2000000000000002s both;
  animation: animate-svg-stroke-7 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.2000000000000002s both
}

@-webkit-keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 2089.631103515625px;
    stroke-dasharray: 2089.631103515625px
  }

  100% {
    stroke-dashoffset: 4179.26220703125px;
    stroke-dasharray: 2089.631103515625px
  }
}

@keyframes animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 2089.631103515625px;
    stroke-dasharray: 2089.631103515625px
  }

  100% {
    stroke-dashoffset: 4179.26220703125px;
    stroke-dasharray: 2089.631103515625px
  }
}

.svg-elem-8 {
  -webkit-animation: animate-svg-stroke-8 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.4000000000000001s both;
  animation: animate-svg-stroke-8 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.4000000000000001s both
}

@-webkit-keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 2005.53515625px;
    stroke-dasharray: 2005.53515625px
  }

  100% {
    stroke-dashoffset: 4011.0703125px;
    stroke-dasharray: 2005.53515625px
  }
}

@keyframes animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 2005.53515625px;
    stroke-dasharray: 2005.53515625px
  }

  100% {
    stroke-dashoffset: 4011.0703125px;
    stroke-dasharray: 2005.53515625px
  }
}

.svg-elem-9 {
  -webkit-animation: animate-svg-stroke-9 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.6s both;
  animation: animate-svg-stroke-9 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.6s both
}

@-webkit-keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 1917.9552001953125px;
    stroke-dasharray: 1917.9552001953125px
  }

  100% {
    stroke-dashoffset: 3835.910400390625px;
    stroke-dasharray: 1917.9552001953125px
  }
}

@keyframes animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 1917.9552001953125px;
    stroke-dasharray: 1917.9552001953125px
  }

  100% {
    stroke-dashoffset: 3835.910400390625px;
    stroke-dasharray: 1917.9552001953125px
  }
}

.svg-elem-10 {
  -webkit-animation: animate-svg-stroke-10 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.8s both;
  animation: animate-svg-stroke-10 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 1.8s both
}

@-webkit-keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 1829.590576171875px;
    stroke-dasharray: 1829.590576171875px
  }

  100% {
    stroke-dashoffset: 3659.18115234375px;
    stroke-dasharray: 1829.590576171875px
  }
}

@keyframes animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 1829.590576171875px;
    stroke-dasharray: 1829.590576171875px
  }

  100% {
    stroke-dashoffset: 3659.18115234375px;
    stroke-dasharray: 1829.590576171875px
  }
}

.svg-elem-11 {
  -webkit-animation: animate-svg-stroke-11 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s both;
  animation: animate-svg-stroke-11 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s both
}

@-webkit-keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 1740.5362548828125px;
    stroke-dasharray: 1740.5362548828125px
  }

  100% {
    stroke-dashoffset: 3481.072509765625px;
    stroke-dasharray: 1740.5362548828125px
  }
}

@keyframes animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 1740.5362548828125px;
    stroke-dasharray: 1740.5362548828125px
  }

  100% {
    stroke-dashoffset: 3481.072509765625px;
    stroke-dasharray: 1740.5362548828125px
  }
}

.svg-elem-12 {
  -webkit-animation: animate-svg-stroke-12 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 2.2s both;
  animation: animate-svg-stroke-12 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 2.2s both
}

@-webkit-keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 1651.854736328125px;
    stroke-dasharray: 1651.854736328125px
  }

  100% {
    stroke-dashoffset: 3303.70947265625px;
    stroke-dasharray: 1651.854736328125px
  }
}

@keyframes animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 1651.854736328125px;
    stroke-dasharray: 1651.854736328125px
  }

  100% {
    stroke-dashoffset: 3303.70947265625px;
    stroke-dasharray: 1651.854736328125px
  }
}

.svg-elem-13 {
  -webkit-animation: animate-svg-stroke-13 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 2.4000000000000004s both;
  animation: animate-svg-stroke-13 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 2.4000000000000004s both
}

@-webkit-keyframes animate-svg-stroke-14 {
  0% {
    stroke-dashoffset: 1564.4588623046875px;
    stroke-dasharray: 1564.4588623046875px
  }

  100% {
    stroke-dashoffset: 3128.917724609375px;
    stroke-dasharray: 1564.4588623046875px
  }
}

@keyframes animate-svg-stroke-14 {
  0% {
    stroke-dashoffset: 1564.4588623046875px;
    stroke-dasharray: 1564.4588623046875px
  }

  100% {
    stroke-dashoffset: 3128.917724609375px;
    stroke-dasharray: 1564.4588623046875px
  }
}

.svg-elem-14 {
  -webkit-animation: animate-svg-stroke-14 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 2.6s both;
  animation: animate-svg-stroke-14 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 2.6s both
}

@-webkit-keyframes animate-svg-stroke-15 {
  0% {
    stroke-dashoffset: 1479.01220703125px;
    stroke-dasharray: 1479.01220703125px
  }

  100% {
    stroke-dashoffset: 2958.0244140625px;
    stroke-dasharray: 1479.01220703125px
  }
}

@keyframes animate-svg-stroke-15 {
  0% {
    stroke-dashoffset: 1479.01220703125px;
    stroke-dasharray: 1479.01220703125px
  }

  100% {
    stroke-dashoffset: 2958.0244140625px;
    stroke-dasharray: 1479.01220703125px
  }
}

.svg-elem-15 {
  -webkit-animation: animate-svg-stroke-15 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 2.8000000000000003s both;
  animation: animate-svg-stroke-15 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 2.8000000000000003s both
}

@-webkit-keyframes animate-svg-stroke-16 {
  0% {
    stroke-dashoffset: 1394.3675537109375px;
    stroke-dasharray: 1394.3675537109375px
  }

  100% {
    stroke-dashoffset: 2788.735107421875px;
    stroke-dasharray: 1394.3675537109375px
  }
}

@keyframes animate-svg-stroke-16 {
  0% {
    stroke-dashoffset: 1394.3675537109375px;
    stroke-dasharray: 1394.3675537109375px
  }

  100% {
    stroke-dashoffset: 2788.735107421875px;
    stroke-dasharray: 1394.3675537109375px
  }
}

.svg-elem-16 {
  -webkit-animation: animate-svg-stroke-16 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 3s both;
  animation: animate-svg-stroke-16 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 3s both
}

@-webkit-keyframes animate-svg-stroke-17 {
  0% {
    stroke-dashoffset: 1313.2744140625px;
    stroke-dasharray: 1313.2744140625px
  }

  100% {
    stroke-dashoffset: 2626.548828125px;
    stroke-dasharray: 1313.2744140625px
  }
}

@keyframes animate-svg-stroke-17 {
  0% {
    stroke-dashoffset: 1313.2744140625px;
    stroke-dasharray: 1313.2744140625px
  }

  100% {
    stroke-dashoffset: 2626.548828125px;
    stroke-dasharray: 1313.2744140625px
  }
}

.svg-elem-17 {
  -webkit-animation: animate-svg-stroke-17 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 3.2s both;
  animation: animate-svg-stroke-17 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 3.2s both
}

@-webkit-keyframes animate-svg-stroke-18 {
  0% {
    stroke-dashoffset: 1233.91748046875px;
    stroke-dasharray: 1233.91748046875px
  }

  100% {
    stroke-dashoffset: 2467.8349609375px;
    stroke-dasharray: 1233.91748046875px
  }
}

@keyframes animate-svg-stroke-18 {
  0% {
    stroke-dashoffset: 1233.91748046875px;
    stroke-dasharray: 1233.91748046875px
  }

  100% {
    stroke-dashoffset: 2467.8349609375px;
    stroke-dasharray: 1233.91748046875px
  }
}

.svg-elem-18 {
  -webkit-animation: animate-svg-stroke-18 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 3.4000000000000004s both;
  animation: animate-svg-stroke-18 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 3.4000000000000004s both
}

@-webkit-keyframes animate-svg-stroke-19 {
  0% {
    stroke-dashoffset: 1154.9951171875px;
    stroke-dasharray: 1154.9951171875px
  }

  100% {
    stroke-dashoffset: 2309.990234375px;
    stroke-dasharray: 1154.9951171875px
  }
}

@keyframes animate-svg-stroke-19 {
  0% {
    stroke-dashoffset: 1154.9951171875px;
    stroke-dasharray: 1154.9951171875px
  }

  100% {
    stroke-dashoffset: 2309.990234375px;
    stroke-dasharray: 1154.9951171875px
  }
}

.svg-elem-19 {
  -webkit-animation: animate-svg-stroke-19 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 3.6s both;
  animation: animate-svg-stroke-19 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 3.6s both
}

@-webkit-keyframes animate-svg-stroke-20 {
  0% {
    stroke-dashoffset: 1077.131591796875px;
    stroke-dasharray: 1077.131591796875px
  }

  100% {
    stroke-dashoffset: 2154.26318359375px;
    stroke-dasharray: 1077.131591796875px
  }
}

@keyframes animate-svg-stroke-20 {
  0% {
    stroke-dashoffset: 1077.131591796875px;
    stroke-dasharray: 1077.131591796875px
  }

  100% {
    stroke-dashoffset: 2154.26318359375px;
    stroke-dasharray: 1077.131591796875px
  }
}

.svg-elem-20 {
  -webkit-animation: animate-svg-stroke-20 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 3.8000000000000003s both;
  animation: animate-svg-stroke-20 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 3.8000000000000003s both
}

@-webkit-keyframes animate-svg-stroke-21 {
  0% {
    stroke-dashoffset: 1000.4107666015625px;
    stroke-dasharray: 1000.4107666015625px
  }

  100% {
    stroke-dashoffset: 2000.821533203125px;
    stroke-dasharray: 1000.4107666015625px
  }
}

@keyframes animate-svg-stroke-21 {
  0% {
    stroke-dashoffset: 1000.4107666015625px;
    stroke-dasharray: 1000.4107666015625px
  }

  100% {
    stroke-dashoffset: 2000.821533203125px;
    stroke-dasharray: 1000.4107666015625px
  }
}

.svg-elem-21 {
  -webkit-animation: animate-svg-stroke-21 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 4s both;
  animation: animate-svg-stroke-21 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 4s both
}

@-webkit-keyframes animate-svg-stroke-22 {
  0% {
    stroke-dashoffset: 923.6512451171875px;
    stroke-dasharray: 923.6512451171875px
  }

  100% {
    stroke-dashoffset: 1847.302490234375px;
    stroke-dasharray: 923.6512451171875px
  }
}

@keyframes animate-svg-stroke-22 {
  0% {
    stroke-dashoffset: 923.6512451171875px;
    stroke-dasharray: 923.6512451171875px
  }

  100% {
    stroke-dashoffset: 1847.302490234375px;
    stroke-dasharray: 923.6512451171875px
  }
}

.svg-elem-22 {
  -webkit-animation: animate-svg-stroke-22 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 4.2s both;
  animation: animate-svg-stroke-22 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 4.2s both
}

@-webkit-keyframes animate-svg-stroke-23 {
  0% {
    stroke-dashoffset: 849.7552490234375px;
    stroke-dasharray: 849.7552490234375px
  }

  100% {
    stroke-dashoffset: 1699.510498046875px;
    stroke-dasharray: 849.7552490234375px
  }
}

@keyframes animate-svg-stroke-23 {
  0% {
    stroke-dashoffset: 849.7552490234375px;
    stroke-dasharray: 849.7552490234375px
  }

  100% {
    stroke-dashoffset: 1699.510498046875px;
    stroke-dasharray: 849.7552490234375px
  }
}

.svg-elem-23 {
  -webkit-animation: animate-svg-stroke-23 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 4.4s both;
  animation: animate-svg-stroke-23 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 4.4s both
}

@-webkit-keyframes animate-svg-stroke-24 {
  0% {
    stroke-dashoffset: 776.9007568359375px;
    stroke-dasharray: 776.9007568359375px
  }

  100% {
    stroke-dashoffset: 1553.801513671875px;
    stroke-dasharray: 776.9007568359375px
  }
}

@keyframes animate-svg-stroke-24 {
  0% {
    stroke-dashoffset: 776.9007568359375px;
    stroke-dasharray: 776.9007568359375px
  }

  100% {
    stroke-dashoffset: 1553.801513671875px;
    stroke-dasharray: 776.9007568359375px
  }
}

.svg-elem-24 {
  -webkit-animation: animate-svg-stroke-24 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 4.6000000000000005s both;
  animation: animate-svg-stroke-24 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 4.6000000000000005s both
}

@-webkit-keyframes animate-svg-stroke-25 {
  0% {
    stroke-dashoffset: 706.098876953125px;
    stroke-dasharray: 706.098876953125px
  }

  100% {
    stroke-dashoffset: 1412.19775390625px;
    stroke-dasharray: 706.098876953125px
  }
}

@keyframes animate-svg-stroke-25 {
  0% {
    stroke-dashoffset: 706.098876953125px;
    stroke-dasharray: 706.098876953125px
  }

  100% {
    stroke-dashoffset: 1412.19775390625px;
    stroke-dasharray: 706.098876953125px
  }
}

.svg-elem-25 {
  -webkit-animation: animate-svg-stroke-25 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 4.800000000000001s both;
  animation: animate-svg-stroke-25 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 4.800000000000001s both
}

@-webkit-keyframes animate-svg-stroke-26 {
  0% {
    stroke-dashoffset: 636.9622802734375px;
    stroke-dasharray: 636.9622802734375px
  }

  100% {
    stroke-dashoffset: 1273.924560546875px;
    stroke-dasharray: 636.9622802734375px
  }
}

@keyframes animate-svg-stroke-26 {
  0% {
    stroke-dashoffset: 636.9622802734375px;
    stroke-dasharray: 636.9622802734375px
  }

  100% {
    stroke-dashoffset: 1273.924560546875px;
    stroke-dasharray: 636.9622802734375px
  }
}

.svg-elem-26 {
  -webkit-animation: animate-svg-stroke-26 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 5s both;
  animation: animate-svg-stroke-26 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 5s both
}

@-webkit-keyframes animate-svg-stroke-27 {
  0% {
    stroke-dashoffset: 569.5836791992188px;
    stroke-dasharray: 569.5836791992188px
  }

  100% {
    stroke-dashoffset: 1139.1673583984375px;
    stroke-dasharray: 569.5836791992188px
  }
}

@keyframes animate-svg-stroke-27 {
  0% {
    stroke-dashoffset: 569.5836791992188px;
    stroke-dasharray: 569.5836791992188px
  }

  100% {
    stroke-dashoffset: 1139.1673583984375px;
    stroke-dasharray: 569.5836791992188px
  }
}

.svg-elem-27 {
  -webkit-animation: animate-svg-stroke-27 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 5.2s both;
  animation: animate-svg-stroke-27 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 5.2s both
}

@-webkit-keyframes animate-svg-stroke-28 {
  0% {
    stroke-dashoffset: 502.6822814941406px;
    stroke-dasharray: 502.6822814941406px
  }

  100% {
    stroke-dashoffset: 1005.3645629882812px;
    stroke-dasharray: 502.6822814941406px
  }
}

@keyframes animate-svg-stroke-28 {
  0% {
    stroke-dashoffset: 502.6822814941406px;
    stroke-dasharray: 502.6822814941406px
  }

  100% {
    stroke-dashoffset: 1005.3645629882812px;
    stroke-dasharray: 502.6822814941406px
  }
}

.svg-elem-28 {
  -webkit-animation: animate-svg-stroke-28 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 5.4s both;
  animation: animate-svg-stroke-28 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 5.4s both
}

@-webkit-keyframes animate-svg-stroke-29 {
  0% {
    stroke-dashoffset: 436.2187194824219px;
    stroke-dasharray: 436.2187194824219px
  }

  100% {
    stroke-dashoffset: 872.4374389648438px;
    stroke-dasharray: 436.2187194824219px
  }
}

@keyframes animate-svg-stroke-29 {
  0% {
    stroke-dashoffset: 436.2187194824219px;
    stroke-dasharray: 436.2187194824219px
  }

  100% {
    stroke-dashoffset: 872.4374389648438px;
    stroke-dasharray: 436.2187194824219px
  }
}

.svg-elem-29 {
  -webkit-animation: animate-svg-stroke-29 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 5.6000000000000005s both;
  animation: animate-svg-stroke-29 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 5.6000000000000005s both
}

@-webkit-keyframes animate-svg-stroke-30 {
  0% {
    stroke-dashoffset: 368.3442687988281px;
    stroke-dasharray: 368.3442687988281px
  }

  100% {
    stroke-dashoffset: 736.6885375976562px;
    stroke-dasharray: 368.3442687988281px
  }
}

@keyframes animate-svg-stroke-30 {
  0% {
    stroke-dashoffset: 368.3442687988281px;
    stroke-dasharray: 368.3442687988281px
  }

  100% {
    stroke-dashoffset: 736.6885375976562px;
    stroke-dasharray: 368.3442687988281px
  }
}

.svg-elem-30 {
  -webkit-animation: animate-svg-stroke-30 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 5.800000000000001s both;
  animation: animate-svg-stroke-30 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 5.800000000000001s both
}

@-webkit-keyframes animate-svg-stroke-31 {
  0% {
    stroke-dashoffset: 298.0291748046875px;
    stroke-dasharray: 298.0291748046875px
  }

  100% {
    stroke-dashoffset: 596.058349609375px;
    stroke-dasharray: 298.0291748046875px
  }
}

@keyframes animate-svg-stroke-31 {
  0% {
    stroke-dashoffset: 298.0291748046875px;
    stroke-dasharray: 298.0291748046875px
  }

  100% {
    stroke-dashoffset: 596.058349609375px;
    stroke-dasharray: 298.0291748046875px
  }
}

.svg-elem-31 {
  -webkit-animation: animate-svg-stroke-31 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 6s both;
  animation: animate-svg-stroke-31 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 6s both
}

@-webkit-keyframes animate-svg-stroke-32 {
  0% {
    stroke-dashoffset: 226.28611755371094px;
    stroke-dasharray: 226.28611755371094px
  }

  100% {
    stroke-dashoffset: 452.5722351074219px;
    stroke-dasharray: 226.28611755371094px
  }
}

@keyframes animate-svg-stroke-32 {
  0% {
    stroke-dashoffset: 226.28611755371094px;
    stroke-dasharray: 226.28611755371094px
  }

  100% {
    stroke-dashoffset: 452.5722351074219px;
    stroke-dasharray: 226.28611755371094px
  }
}

.svg-elem-32 {
  -webkit-animation: animate-svg-stroke-32 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 6.2s both;
  animation: animate-svg-stroke-32 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 6.2s both
}

@-webkit-keyframes animate-svg-stroke-33 {
  0% {
    stroke-dashoffset: 152.48410034179688px;
    stroke-dasharray: 152.48410034179688px
  }

  100% {
    stroke-dashoffset: 304.96820068359375px;
    stroke-dasharray: 152.48410034179688px
  }
}

@keyframes animate-svg-stroke-33 {
  0% {
    stroke-dashoffset: 152.48410034179688px;
    stroke-dasharray: 152.48410034179688px
  }

  100% {
    stroke-dashoffset: 304.96820068359375px;
    stroke-dasharray: 152.48410034179688px
  }
}

.svg-elem-33 {
  -webkit-animation: animate-svg-stroke-33 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 6.4s both;
  animation: animate-svg-stroke-33 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 6.4s both
}

/* smile */

