@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* html styles */
html {
  scroll-behavior: smooth;
}

/* body styles */
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #001129;
}

/* text selection style */
::selection {
  background-color: aquamarine;
  color: #102a43;
}

/* Loading animation */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

/* logo in navbar */
.showMenuNav {
  background-image: url("./design/logo-half.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  background-color: #001129;
}

/* satellite svg animation */
.satellite {
  position: fixed;
  width: 30%;
  height: 30%;
  bottom: 0px;
  right: 0;
  overflow: visible;
}

/* input fields animation */
.inputBox {
  position: relative;
}

.inputBox input, textarea {
  border: #8d286f 1px solid;
  background-color: #001129;
  outline: none;
  color: white;
  padding: 20px;
  font-size: 1em;
  cursor: pointer;
  width: 300px;
  box-sizing: border-box;
  transition: border-color 0.5s, background-color 0.5s, transform 0.2s;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  font-size: 1em;
  text-transform: uppercase;
  pointer-events: none;
  color: rgba(127, 255, 212, 0.30);
    transition: transform 0.5s, font-size 0.5s, padding 0.5s,
    background-color 0.5s, border-left-color 0.5s, border-right-color 0.5s,
    letter-spacing 0.5s, color 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75em;
  padding: 0 10px;
  background: #001129;
  border-left: aquamarine 1px solid;
  border-right: aquamarine 1px solid;
  letter-spacing: 0.2em;
  color: aquamarine;
  transition: 0.2s;
}

.inputBox textarea:focus ~ span {
    transform: translateX(10px) translateY(-7px);
    font-size: 0.75em;
    padding: 0 10px;
    background: aquamarine;
    border-radius: 2px;
    color: #102a43;
    letter-spacing: 0.2em;
    top: 0;
      transition: transform 0.2s, font-size 0.2s, padding 0.2s,
    background-color 0.2s, color 0.2s;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox textarea:focus {
  border-color: aquamarine;
}


/* Project imgs scroll on hover */
.screen {
  display: block;
  width: 90%;
  height: 450px;
  overflow: auto;
  position: relative;
  margin: 0 auto;
  border: #8d286f solid 2px;
  border-radius: 20px;
}

.screen img {
  top: 0%;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
}

.screen:hover img {
  top: -10%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

/* Carousel btns */
.\!absolute {
  position: fixed !important;
}

.bottom-4 {
  display: none;
}

button.text-white {
  color: rgb(127 255 212);
}

/* .balloon {
	width: 9.35rem;
	height: 9.35rem;
	background-color: #f27c68;
	border-radius: 50%;
	border: 4px solid #d7e7ea;
	position: absolute;
	left: 50%;
	top: 50px;
	transform: translate(-50%);
	-webkit-animation: moving-balloon 3s ease infinite;
	animation: moving-balloon 3s ease infinite;
}
.balloon::after {
	width: 4.35rem;
	height: 0;
	border-top: 3.75rem solid #f27c68;
	border-left: 1.85rem solid transparent;
	border-right: 1.85rem solid transparent;
	content: "";
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%);
}
.balloon::before {
	width: 70px;
	height: 25px;
	background-color: #e86b5a;
	border-radius: 5px;
	content: "";
	position: absolute;
	left: 50%;
	top: 9.35rem;
	transform: translate(-50%);
}

.basket {
	width: 2.65rem;
	height: 1.75rem;
	background: #d1c1a6;
	border-radius: 0 0 3px 3px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 16.85rem;
	-webkit-animation: moving-basket 3s ease infinite;
	animation: moving-basket 3s ease infinite;
}

.basket:before {
	width: 3.15rem;
	height: 0.65rem;
	background: #b2a082;
	border-radius: 3px;
	content: "";
	position: absolute;
	top: -0.65rem;
	left: 50%;
	transform: translate(-50%);
}

.basket:after {
	width: 1.55rem;
	height: 2.15rem;
	border-left: 2px solid #b2a082;
	border-right: 2px solid #b2a082;
	content: "";
	position: absolute;
	top: -2.5rem;
	left: 50%;
	transform: translate(-50%) perspective(50px) rotateX(-40deg);
}

.cloud {
	width: 140px;
	height: 1.85rem;
	background: white;
	border-radius: 3.15rem;
	position: absolute;
	top: 6.25rem;
	right: 2.5rem;
	-webkit-animation: moving-cloud 3s ease infinite;
	animation: moving-cloud 3s ease infinite;
}

.cloud::before {
	width: 3.75rem;
	height: 3.75rem;
	background: white;
	border-radius: 50%;
	content: "";
	position: absolute;
	top: -2.5rem;
	left: 1.25rem;
}

.cloud::after {
	width: 3.15rem;
	height: 3.15rem;
	background: white;
	border-radius: 50%;
	content: "";
	position: absolute;
	top: -1.85rem;
	right: 1.55rem;
}


@-webkit-keyframes moving-balloon {
	0% {
		transform: translate(-50%);
	}
	50% {
		transform: translate(-50%, -10%);
	}
}

@keyframes moving-balloon {
	0% {
		transform: translate(-50%);
	}
	50% {
		transform: translate(-50%, -10%);
	}
}

@-webkit-keyframes moving-basket {
	0% {
		transform: translate(-50%);
	}
	50% {
		transform: translate(-50%, -40%);
	}
}

@keyframes moving-basket {
	0% {
		transform: translate(-50%);
	}
	50% {
		transform: translate(-50%, -40%);
	}
}

@-webkit-keyframes moving-cloud {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-7%);
	}
}

@keyframes moving-cloud {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-10%);
	}
} */

/* button.\!absolute.top-2\/4.right-4.-translate-y-2\/4.rounded-full.select-none.transition-all.disabled\:opacity-50.disabled\:shadow-none.disabled\:pointer-events-none.w-12.max-w-\[48px\].h-12.max-h-\[48px\].text-white.hover\:bg-white\/10.active\:bg-white\/30.grid.place-items-center {
  color: red;
} */